<% include partials/header.ejs %>

<h1>blogs yes</h1>

<% blogs.forEach((blog) => { %>
    <div>
        <h2><%= blog.title %></h2>
        <img src="<%=blog.image%>" alt="">
        <p><%= blog.body.substring(0, 100) %>...</p>
        <a href="/blogs/<%= blog._id %>">Read More</a>
        <span><%= blog.created %> </span>
    </div>
<% }) %>

<% include partials/footer.ejs %>
